<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928451764332-cnq8rhl486bfiarrvu710550p248vpcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928451764332-cnq8rhl486bfiarrvu710550p248vpcm</string>
	<key>API_KEY</key>
	<string>AIzaSyBoFTDASjJKTp_ljTVNatC5NSX8a2kT68g</string>
	<key>GCM_SENDER_ID</key>
	<string>928451764332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoApp</string>
	<key>PROJECT_ID</key>
	<string>cryptoapp-7cc0a</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoapp-7cc0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928451764332:ios:871e2c22fec2b8921db849</string>
</dict>
</plist>